apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: comparador-electro
spec:
  template:
    metadata:
      annotations:
        run.googleapis.com/cpu-throttling: "false"
    spec:
      containers:
        - image: REPLACE_WITH_ARTIFACT_REGISTRY_IMAGE
          env:
            - name: PORT
              value: "8080"
          resources:
            limits:
              cpu: "1"
              memory: 1Gi
      containerConcurrency: 10
  traffic:
    - latestRevision: true
      percent: 100
